.social {
    padding-bottom: 9.375rem;
    text-align: center;
    hr {
        border-top: 1px solid #eaebec;
        margin: 1.33rem 0;
    }
    .icons {
        li{
        border-radius: 1.25rem;
        width: 2.5rem;
        height: 2.5rem;
        border: 3px solid #eaebec;
        display: inline-block;
        margin: 1.25rem 5px;
        text-align: center;
        padding: .6rem 0;
        }
    }
    .twitter {
        color: #55acee;
    }
    .facebook {
        color: #4c66a4;
    }
    .instagram {
        color: #3F7296;
    }
    .copy {
        font-weight: 300;
        font-size: .9rem;
        color: #838994;
    }
}